 /* Style the navigation bar */
 .navbar {
    width: 100%;
    background-color: #01555f;
    padding: 0;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    
  }
 /* Navbar links */
  .navbar a {
    text-align: center;
    padding: 1.5rem 10px;
    color: #ebe5d9  ;
    text-decoration: none;
    font-size: 22px;
   font-family:  " open sans",sans-serif;
  }
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #87aeb4; 
   color:#fff;  
    height: 50%;
    overflow: auto;
    border-right-style: dashed;
    transition: 0.3s;
}
  /* Current/active navbar link */
  .active {
    background-color: #fcd4b1;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } 
  /* ///////////////////////////////////////////////////////// */
  .btn2 {
    background-color:#153e5c;
    border: none;
    color: #FFF;
    padding: 12px 16px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.3S;
    font-family: 'Roboto Slab';
      text-decoration: none;/* 
      font-weight: bold; */
  }
  
  .plus{
      position:right;
      text-decoration: none;
  }
  .cellule{
    background-color:#f69000;
    color:#fff;
    font-family:" open sans",sans-serif;  
    font-size: 17px;
    
  }
  .cellulef{
    background-color:#f69000;
    color:#fff;
    font-family:" open sans",sans-serif; 
    font-size: 17px;
  }
  .tab{
    color:#330233 ;
    font-family:"cursive"; 
    font-size: 19px;
  }
  .btn1{
    font-size: 15px;
    background-color:#d3dbe1 ;   
     color:#131f49 ;
  }
  .close{
    font-size: 21px;
    background-color:#d3dbe1 ;
  
  }
  .close:hover{
    background-color:#efc8b1 ;
 
  }
  .btn1:hover{
  background-color: #87aeb4;
  color: #003048;
  }
  .ajouter{
 background-color:#003048;
 color: #fff;
 padding: 10px 10px;
 font-size: 24px; 
 border-radius:7px;
 transition: 0.3S;  
   font-weight:' fw-bold' ; 
 font-family:'Roboto Slab';
 text-decoration: none;  border: none;
 outline: 4px solid transparent;
  }
  .ajouter:hover{
    background-color:#95b6b0;
    transition: .03 time;
    font-family:'Roboto Slab';
    color: #153e5c; 
    padding: 10px 10px;
  }
  .ajouter:focus{
      outline: 4px solid red;
     }
   
  .selectchoix{
   background-color:#a45e5f ;
   color:white;
   padding: 8px;
    font-size:19px;
  }
  .inputText{
    background-color:white ;
    color:black;
    font-size:19px;
    padding:8px ; 

  }
  .labelStyle{
    font-size:19px;
    color:black;
  }
  .list{
    font-weight: bold;
    font-size:30px;
    color:#b37f4c;
  }
  .titre{
  color: #2D7B8C; 
  font-family: 'Roboto Slab';
  font-weight: 800;
  font-size:30px;
  }
  .chargefactureButton{
 color:#153e5c;
 background-color:#87aeb4;
  }
  .chargefactureButton:hover{
    background-color:#efc8b1;
    color: #153e5c;
  }
 .import:hover{
  color:#f1d8c2;background-color:#5b6678;
 }
 .import{
    color:#003048;background-color:#efc8b1;
 }
