 /* Style the navigation bar */
 .navbar {
    width: 100%;
    background-color: #01555f;
    padding: 0;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    
  }
 /* Navbar links */
  .navbar a {
    text-align: center;
    padding: 1.5rem 10px;
    color: #ebe5d9  ;
    text-decoration: none;
    font-size: 24px;
   font-family:  " open sans",sans-serif;
  }
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:#BBAAB8;
    height: 50%;
    overflow: auto;
    border-right-style: dashed;
    transition: 0.3s;
    color:#725981;
    
  }
  /* Current/active navbar link */
  .active {
    background-color: #ce80b7;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } 
  /* ///////////////////////////////////////////////////////// */
  .btn2 {
    background-color:#a45e5f;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.3S;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  /* Darker background on mouse-over */
  .btn2:hover {
    background-color:#a765a3  ;/*#4c635f;*/
    color: white;
  }

 /*  .container{
    background-color: #c00ec0; 
  } */
  .plus{
      position:right;
      text-decoration: none;
  }
  .cellule{
    background-color:#f69000;
    color:#fff;
    font-family:" open sans",sans-serif;  
    font-size: 17px;
    
  }
  .cellulef{
    background-color:#f69000;
    color:#fff;
    font-family:" open sans",sans-serif; 
    font-size: 17px;
  }
  .tab{
    color:#330233 ;
    font-family:"cursive"; 
    font-size: 19px;
  }
  .btn1{
    font-size: 15px;
    background-color:#f9edc2;/* #b195a5 */
  }
  .close{
    font-size: 21px;
    background-color:#a45e5f ;
   
  }
  .close:hover{
    background-color:#948391 ;
 
  }
  .btn1:hover{
  background-color: #c9abc3;
  color: #decbc3;
  }
  .ajouter{
 background-color:#003048;
 color: #fff;
 padding: 10px 10px;
 font-size: 23px; 
 border-radius:7px;
 transition: 0.3S; 
 font-family:Arial;
 text-decoration: none;
  }
  .ajouter:hover{
    background-color:#f69000;
    transition: .03 time;
  }
