 /* Style the navigation bar */
 .navbar {
    width: 100%;
    background-color: #5f445f;
    padding: 0;
    display: flex;
    justify-content: center;
  }
 /* Navbar links */
  .navbar a {
    text-align: center;
    padding: 1.5rem 10px;
    color: rgb(224, 204, 24);
    text-decoration: none;
    font-size: 22px;
  }
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:#b8a08c;
    height: 50%;
    overflow: auto;
    border-right-style: dashed;
    transition: 0.3s;
    color:#fffefd;
  }
  /* Current/active navbar link */
  .active {
    background-color: #ce80b7;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } 
  /* ///////////////////////////////////////////////////////// */
  .btn2 {
    background-color:rgb(224, 204, 24);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.3S;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  /* Darker background on mouse-over */
  .btn2:hover {
    background-color:#a765a3  ;/*#4c635f;*/
    color: white;
  }
  body{
      cursor:scroll;
  }
 /*  .container{
    background-color: #c00ec0; 
  } */
  .plus{
      position:right;
      text-decoration: none;
  }
  .cellule{
    background-color:#330233;
    color:#f3d215;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
  }
  .cellulef{
    background-color:#2B4C59;
    color:#FFA97A;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
  }
  .tab{
    font-family:'Courier New', Courier, monospace;
    color:#330233 ;
    font-size: 18px;
  }
  .btn1{
    font-size: 15px;
    background-color:#f9edc2;/* #b195a5 */
  }
  .close{
    background-color:#330233 ;
    color:#f5d10d; 
  }
  .close:hover{
    background-color:#a765a3 ;
    color:#fdfdf7; 
  }
  .btn1:hover{
  background-color: #c9abc3;
  color: #decbc3;
  }